################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/07 20-12-2020 05 Camera, Image Upload, Image Gallery/SERVER SIDE/WebApplication/.vs/WebApplication1/v16/Server/sqlite3/db.lock
/07 20-12-2020 Camera,ImgUpload,Gallery/SERVER SIDE/.vs/WebApplication1/v15/Server/sqlite3/db.lock
/07 20-12-2020 Camera,ImgUpload,Gallery/SERVER SIDE/.vs/WebApplication1/v16/Server/sqlite3/db.lock
